doctype html
html(lang='en')
  head
    title Frontend | XHTML | Exercise 1
  body
    p
      | El lenguaje HTML es #[strong tan sencillo] que practicamente se entiende
      | sin estudiar el significado de sus etiquetas principales.
    p
      | Ademas de textos en #[strong negrita] tambien se pueden poner
      | #[em en cursiva] o #[del tachados].
