doctype html
html(lang='en')
  head
    title Frontend V2 for Azure
  body(style='background: #24292E; color: white; font-family: verdana')
    h1 List of topics
    ul
      li
        strong
          a(href='/hello', style='color: red;') Hello World!
      li
        strong
          a(href='/xhtml', style='color: red;') XHTML
      li
        strong
          a(href='/css', style='color: red;') CSS
    p
      strong This new versions works!
    img(src='/images/works.gif')
