doctype html
html(lang='en')
  head
    title Frontend | CSS | Exercise 10
    link(href='/stylesheets/css/exercise_10.css', rel='stylesheet')
  body
    ul
      li Elemento 1
      li Elemento 2
      li Elemento 3
      li Elemento 4
      li Elemento 5
      li Elemento 6
