doctype html
html(lang='en')
  head
    title Frontend | CSS | Exercise 9
    link(href='/stylesheets/css/exercise_09.css', rel='stylesheet')
  body
    section
      img(src='/images/css/imagen.png', width='154px', height='154px')
      img(src='/images/css/imagen.png', width='154px', height='154px')
      img(src='/images/css/imagen.png', width='154px', height='154px')
      img(src='/images/css/imagen.png', width='154px', height='154px')
      img(src='/images/css/imagen.png', width='154px', height='154px')
      img(src='/images/css/imagen.png', width='154px', height='154px')
      img(src='/images/css/imagen.png', width='154px', height='154px')
      img(src='/images/css/imagen.png', width='154px', height='154px')
      img(src='/images/css/imagen.png', width='154px', height='154px')
