doctype html
html(lang='en')
  head
    title Frontend | CSS | Exercise 2
    link(href='/stylesheets/css/exercise_02.css', rel='stylesheet')
  body
    h1#titulo Lorem ipsum dolor sit amet
    p
      | Nulla pretium. Sed tempus nunc vitae neque.
      | #[strong Suspendisse gravida], metus a scelerisque sollicitudin, lacus
      | velit ultricies nisl, nonummy tempus neque diam quis felis.
      | #[span.destacado Etiam sagittis tortor] sed arcu sagittis tristique.
    h2#subtitulo Aliquam tincidunt, sem eget volutpat porta
    p
      | Vivamus velit dui, placerat vel, feugiat in, ornare et, urna.
      | #[a(href='#') Aenean turpis metus, #[em aliquam non], tristique in],
      | pretium varius, sapien. Proin vitae nisi.  Suspendisse
      | #[span.especial porttitor purus ac elit]. Suspendisse eleifend odio at
      | dui. In in elit sed metus pretium elementum.
    table
      caption T&iacute;tulo de la tabla
        thead
          tr
            th(scope='col')
            th.especial(scope='col') T&iacute;tulo columna 1
            th.especial(scope='col') T&iacute;tulo columna 2
        tfoot
          tr
            th(scope='col')
            th.especial(scope='col') T&iacute;tulo columna 1
            th.especial(scope='col') T&iacute;tulo columna 2
        tbody
          tr
            th.especial(scope='row') T&iacute;tulo fila 1
            td Donec purus ipsum
            td Curabitur #[em blandit]
          tr
            th(scope='row') T&iacute;tulo fila 2
            td Donec #[strong purus ipsum]
            td Curabitur blandit
    #adicional
      p
        | Donec purus ipsum, posuere id, venenatis at,
        | #[span placerat ac, lorem]. Curabitur blandit, eros sed gravida
        | aliquet, risus justo porta lorem, ut mollis lectus tortor in orci.
        | Pellentesque nec augue.
      p
        | Fusce nec felis eu diam pretium adipiscing.
        | #[span#especial Nunc elit elit, vehicula vulputate], venenatis in,
        | posuere id, lorem. Etiam sagittis, tellus in ultrices accumsan, diam
        | nisi feugiat ante, eu congue magna mi non nisl.
      p
        | Vivamus ultrices aliquet augue.
        | #[a(href='#') Donec arcu pede, pretium vitae], rutrum aliquet,
        | tincidunt blandit, pede. Aliquam in nisi. Suspendisse volutpat.
        | Nulla facilisi. Ut ullamcorper nisi quis mi.
