doctype html
html(lang='en')
  head
    title Frontend | CSS | Exercise 8
    link(href='/stylesheets/css/exercise_08.css', rel='stylesheet')
  body
    a(href='#a') Enlace n&uacute;mero 1
    a(href='#b') Enlace n&uacute;mero 2
    a(href='#c') Enlace n&uacute;mero 3
    a(href='#d') Enlace n&uacute;mero 4
    a(href='#e') Enlace n&uacute;mero 5
