doctype html
html(lang='en')
  head
    title Frontend | CSS
  body
    h1 CSS: List of exercises
    ul
      li
        a(href='/css/exercise_01') exercise 1
      li
        a(href='/css/exercise_02') exercise 2
      li
        a(href='/css/exercise_03') exercise 3
      li
        a(href='/css/exercise_04') exercise 4
      li
        a(href='/css/exercise_05') exercise 5
      li
        a(href='/css/exercise_06') exercise 6
      li
        a(href='/css/exercise_07') exercise 7
      li
        a(href='/css/exercise_08') exercise 8
