doctype html
html(lang='en')
  head
    title Frontend | CSS
  body
    h1 CSS: List of exercises
    ul
      li
        a(href='/css/exercise_01') exercise 1
      li
        a(href='/css/exercise_02') exercise 2
