doctype html
html(lang='en')
  head
    title Frontend | CSS | Exercise 6
    link(href='/stylesheets/css/exercise_06.css', rel='stylesheet')
  body
    div
      span.left &laquo; Anterior
      span.right Siguiente &raquo;
