doctype html
html(lang='en')
  head
    title Frontend | CSS | Exercise 11
    link(href='/stylesheets/css/exercise_11.css', rel='stylesheet')
  body
    table
      tr
        th(scope='col') Cambio
        th(scope='col') Compra
        th(scope='col') Venta
        th(scope='col') M&aacute;ximo
        th(scope='col') M&iacute;nimo
      tr
        th.euro(scope='row') Euro/Dolar
        td 1.2524
        td 1.2527
        td 1.2539
        td 1.2488
      tr
        th.dolar(scope='row') Dolar/Yen
        td 119.01
        td 119.05
        td 119.82
        td 119.82
      tr
        th.libra(scope='row') Libra/Dolar
        td 1.8606
        td 1.8611
        td 1.8651
        td 1.8522
      tr
        th.yen(scope='row') Euro/Yen
        td 149.09
        td 149.13
        td 149.79
        td 149.96
