doctype html
html
  head
    title Frontend | XHTML | Exercise 11
  body
    h1 Su pedido
    table
      tr
        th(scope='col') Nombre producto
        th(scope='col') Precio unitario
        th(scope='col') Unidades
        th(scope='col') Subtotal
      tr
        td Reproductor MP3 (80 GB)
        td 192.02
        td 1
        td 192.02
      tr
        td Fundas de colores
        td 2.50
        td 5
        td 12.50
      tr
        td Reproductor de radio y control remoto
        td 12.99
        td 1
        td 12.99
      tr
        th(scope='row') TOTAL
        td
          strong -
        td
          strong 7
        td
          strong 207.51
