doctype html
html
  head
    title Frontend | XHTML | Exercise 8
  body
    h1 Menu
    ul
      li Inicio
      li
        strong Noticias
        ul
          li
            a(href='#') Recientes
          li
            a(href='#')
              strong M&aacute;s le&iacute;das
          li
            a(href='#') M&aacute;s valoradas
