doctype html
html
  head
    title Frontend | XHTML | Exercise 12
  body
    h1 Resultados de la b&uacute;squeda
    table
      caption Resultado de la b&uacute;squeda
      tr
        th(scope='col') Imagen
        th(scope='col') Datos
      tr
        td
          img(src='/images/xhtml/portatil.png', width='64px', height='64px')
        td
          h4
            a(href='#') Port&aacute;til - 3GHz - 4GB RAM
          p
            | #[a(href='#') Comprar:] #[del 2,999.00 &euro;] #[strong 2,599.00 &euro;]
      tr
        td
          img(src='/images/xhtml/videocamara.png', width='64px', height='64px')
        td
          h4
            a(href='#') Videoc&aacute;mara - Alta definici&oacute;n 1080p - 60 GB
          p
            | #[a(href='#') Comprar:] #[del 1,099.00 &euro;] #[strong 999.00 &euro;]
      tr
        td
          img(src='/images/xhtml/tv.png', width='64px', height='64px')
        td
          h4
            a(href='#') Televisi&oacute;n - 46'' - Full HD
          p
            | #[a(href='#') Comprar]: #[del 1,999.00 &euro;] #[strong 1,799.00 &euro;]
      tr
        td
          img(src='/images/xhtml/movil.png', width='64px', height='64px')
        td
          h4
            a(href='#') M&oacute;vil - 3G - Wi-Fi - 8 GB
          p
            | #[a(href='#') Comprar]: #[del 399.00 &euro;] #[strong 349.00 &euro;]
