doctype html
html(lang='en')
  head
    title Frontend | XHTML | Exercise 2
  body
    h1 La exploraci&oacute;n espacial
    p
      | La #[strong exploraci&oacute;n espacial] designa los esfuerzos del
      | hombre en estudiar el espacio y sus astros desde el punto de vista
      | cient&iacute;fico y de su explotaci&oacute;n econ&oacute;mica. Estos
      | esfuerzos pueden involucrar tanto seres humanos viajando en sondas
      | espaciales como sat&eacute;lites con recursos de telemetr&iacute;a o
      | sondas teleguiadas enviadas a otros planetas (orbitando o aterrizando
      | en la superficie de estos cuerpos celestes).
    p
      | Las personas que pilotan naves espaciales, o son pasajeros en ellas, se
      | llaman astronautas (en Rusia: #[em cosmonautas]; en China:
      | #[em taikonautas]). T&eacute;cnicamente se considera astronauta a todo
      | aquel que emprenda un vuelo sub-orbital (sin entrar en &oacute;rbita) u
      | orbital a como m&iacute;nimo 100 km de altitud (considerado el
      | l&iacute;mite externo de la atm&oacute;sfera).
    p
      | El cielo siempre ha atra&iacute;do la atenci&oacute;n y los
      | sue&ntilde;os del hombre. Ya en 1634 se public&oacute; la que se
      | considera primera novela de ciencia ficci&oacute;n, #[em Somnium], de
      | #[strong Johannes Kepler], que narra un hipot&eacute;tico viaje a la
      | Luna. M&aacute;s tarde, en 1865, en una famosa obra de ficci&oacute;n
      | titulada #[em "De la terre &agrave; la Lune"], #[strong Julio Verne]
      | escribe sobre un grupo de hombres que viaj&oacute; hasta la Luna usando
      | un gigantesco ca&ntilde;&oacute;n.
    p
      | En Francia, #[strong Georges M&eacute;li&egrave;s], uno de los pioneros
      | de cine, tomaba la novela de Verne para crear
      | #[em "Le voyage dans la Lune"] (1902), una de las primeras
      | pel&iacute;culas de ciencia ficci&oacute;n en la que describ&iacute; un
      | viaje a la Luna. En obras como #[em "The War of the Worlds"] (1898) y
      | #[em "The First Men in The Moon"] (1901), #[strong Herbert George Wells]
      | tambi&eacute;n se concibieron ideas de exploraci&oacute;n del espacio y
      | de contacto con civilizaciones extraterrestres.
