doctype html
html
  head
    link(rel='icon', href='/images/xhtml/favicon.ico', type='image/x-icon')
    title Frontend | XHTML | Exercise 10
  body
    h1 Mi sitio
    p
      | Lorem ipsum dolor sit amet, consectetuer adispiscing elit. Donec
      | iaculis posuere justo. Nam vel neque. Proin sagitis mauris sit amet
      | nils. Sed ipsum. Aliquam vitae justo.
    h2 Ultimos proyectos
    p
      | Etiam consectetuer, mauris vitae cursus scelerisque, dui turpis
      | dignissim justo, et euismod enim odio sit amet erat. Aliquam dui
      | ligula, portitor eu, facilisis vitae, ornare sed, tortor.
    p
      a(href='exercise_10/projects',
        title='Ultimos projectos realizados por Mi sitio')
        | Acceder a los ultimos projectos de Mi sitio.
