doctype html
html(lang='en')
  head
    title Frontend | XHTML | Exercise 5
  body
    h1 Sintaxis de la etiqueta &lt;blockquote&gt;
    p
      | La sintaxis de la etiqueta &lt;blockquote&gt; se muestra a continuacion:
    p
      | &lt;blockquote cite="#[em ...direcci&oacute;n original de la cita...]"
      | &gt;Texto que se cita&lt;/blockquote&gt;
