doctype html
html
  head
    title Frontend | XHTML | Exercise 4
  body
    h1 Caracter&iacute;sticas de los planetas
    pre
      | Nombre      Diametro relativo     Per&iacute;odo orbital     N&uacute;mero de lunas
      | ---------------------------------------------------------------------
      | Mercurio          0.382              0.24 a&ntilde;os              0
      | Venus             0.949              0.62 a&ntilde;os              0
      | Tierra            1.000              1.00 a&ntilde;os              1
      | Marte             0.532              1.88 a&ntilde;os              2
      | J&uacute;piter          11.209             11.86 a&ntilde;os             49
      | Saturno           9.449             29.46 a&ntilde;os             52
      | Urano             4.007             84.01 a&ntilde;os             27
      | Neptuno           3.883            164.80 a&ntilde;os             13
