doctype html
html
  head
    title Frontend | XHTML | Exercise 13
  body
    h3 Comparativa de reproductores MP3
    table
      caption Tabla comparativa de las caracter&iacute;sticas t&eacute;cnicas de los reproductores MP3
      tr
        td
        th(scope='col', colspan='3')
          img(src='/images/xhtml/mp3_pequeno_blanco.png')
          img(src='/images/xhtml/mp3_pequeno_negro.png')
          br
          | MP3 Mini
        th(scope='col', colspan='2')
          img(src='/images/xhtml/mp3_grande_blanco.png')
          img(src='/images/xhtml/mp3_grande_negro.png')
          br
          | MP3 Grande
      tr
        th(scope='row') Capacidad de almacenamiento
        td 4GB (1,000 canciones)
        td 8GB (2,000 canciones)
        td 16GB (4,000 canciones)
        td 30GB (7,500 canciones)
        td 80GB (20,000 canciones)
      tr
        th(scope='row') Colores
        td
          img(src='/images/xhtml/color_blanco.png')
        td
          img(src='/images/xhtml/color_negro.png')
          img(src='/images/xhtml/color_verde.png')
          img(src='/images/xhtml/color_azul.png')
          img(src='/images/xhtml/color_rosa.png')
        td
          img(src='/images/xhtml/color_negro.png')
        td(colspan='2')
          img(src='/images/xhtml/color_blanco.png')
          img(src='/images/xhtml/color_negro.png')
      tr
        th(scope='row') Pantalla
        td(colspan='3') LCD de 3 cm (diagonal) con retroiluminaci&oacute;n
        td(colspan='2') LCD de 6 cm (diagonal) con retroiluminaci&oacute;n
      tr
        th(scope='row', rowspan='2') Tiempo de carga
        td(colspan='3', rowspan='2') Unas 3 horas
        td(colspan='2') Unas 4 horas
      tr
        td(colspan='2') Unas 2 horas para alcanzar el 80% de la capacidad
