doctype html
html
  head(lang='en')
    title Frontend | XHTML | Exercise 9
  body
    h1 Menu
    ul
      li Inicio
      li
        strong Noticias
        ul
          li
            a(href='#') Recientes
          li
            a(href='#')
              strong M&aacute;s le&iacute;das
          li
            a(href='#') M&aacute;s valoradas
      li Art&iacute;culos
        ol
          li
            strong XHTML
          li CSS
          li JavaScript
          li Otro
      li Contacto
        dl
          dt
            em Email
          dd
            strong nombre@direccion.com
          dt
            em Tel&eacute;fono
          dd 900 900 900
          dt
            em Fax
          dd 900 900 900

