doctype html
html
  head
    title Frontend | XHTML
  body
    h1 XHTML: List of exercises
    ul
      li
        a(href='/xhtml/exercise_01') exercise 1
      li
        a(href='/xhtml/exercise_02') exercise 2
      li
        a(href='/xhtml/exercise_03') exercise 3
      li
        a(href='/xhtml/exercise_04') exercise 4
      li
        a(href='/xhtml/exercise_05') exercise 5
      li
        a(href='/xhtml/exercise_06') exercise 6
      li
        a(href='/xhtml/exercise_07') exercise 7
      li
        a(href='/xhtml/exercise_08') exercise 8
      li
        a(href='/xhtml/exercise_09') exercise 9
