doctype html
html
  head
    title Frontend | XHTML
  body
    h1 XHTML: Listado de ejercicios
    ul
      li
        a(href='/xhtml/exercise_01') Ejercicio 1
      li
        a(href='/xhtml/exercise_02') Ejercicio 2
      li
        a(href='/xhtml/exercise_03') Ejercicio 3
