doctype html
html(lang='en')
  head
    title Frontend | XHTML
  body
    h1 XHTML: List of exercises
    ul
      li
        a(href='/xhtml/exercise_01') exercise 1
      li
        a(href='/xhtml/exercise_02') exercise 2
      li
        a(href='/xhtml/exercise_03') exercise 3
      li
        a(href='/xhtml/exercise_04') exercise 4
      li
        a(href='/xhtml/exercise_05') exercise 5
      li
        a(href='/xhtml/exercise_06') exercise 6
      li
        a(href='/xhtml/exercise_07') exercise 7
      li
        a(href='/xhtml/exercise_08') exercise 8
      li
        a(href='/xhtml/exercise_09') exercise 9
      li
        a(href='/xhtml/exercise_10') exercise 10
      li
        a(href='/xhtml/exercise_11') exercise 11
      li
        a(href='/xhtml/exercise_12') exercise 12
      li
        a(href='/xhtml/exercise_13') exercise 13
      li
        a(href='/xhtml/exercise_14') exercise 14
      li
        a(href='/xhtml/exercise_15') exercise 15
      li
        a(href='/xhtml/exercise_16') exercise 16
