doctype html
html
  head
    link(rel='icon', href='/images/xhtml/favicon.ico', type='image/x-icon')
    title Frontend | XHTML | Exercise 10
  body
    p
      a(href='../exercise_10',
        title='P&aacute;gina principal de Mi sitio',
        rel='index')
          | Volver a la p&aacute;gina principal
    h1 Ultimos proyectos
    p
      | Lorm ipsum dolor sit amet, consectetuer adispiscing elit. Donec
      | iaculis posuere justo. Nam vel neque.
    h2 Proyecto 1
    p
      | Etiam consectetuer, mauris vitae cursus scelerisque, dui turpis
      | dignissim justo, et euismod enim odio sit amet erat.
    p
      img(src='/images/xhtml/proyect1.jpg', alt='Imagen del proyecto 1',
        width='400px', height='200px')
    h2 Proyecto 2
    p
      | Etiam consectetuer, mauris vitae cursus scelerisque, dui turpis
      | dignissim justo, et euismod enim odio sit amet erat.
    p
      img(src='/images/xhtml/proyect2.jpg', alt='Imagen del proyecto 2',
        width='400px', height='200px')
